<div class="main">
	<h1> 
		<%= link_to('Samantha Nano & Chris Mathew', home_path) %>
	</h1>

	<div class="menu-row">
		<div class="main">
			<div class="container_12">
				<div class="wrapper">
					<div class="grid_12">
						<nav>
							<ul class="menu">
								<li <%='class=activeTab' if @activeTab == 'home' %>>
									<%= link_to('Home', home_path) %>
								</li>
								<li <%='class=activeTab' if @activeTab == 'wedding' %>>
									<a>Wedding</a>
									<div class="menu-drop-down">
										<%= link_to('Details', wedding_path) %>
										<%= link_to('Transportation', transportation_path) %>							
									</div>
								</li>
								<li <%='class=activeTab' if @activeTab == 'visit' %>>
									<a>Visit</a>
									<div class="menu-drop-down">
										<%= link_to('Accommodations', accommodations_path) %>
										<%= link_to('Travel', travel_path) %>
										<%= link_to('Sightseeing', sight_seeing_path) %>
									</div>
								</li>
								<li <%='class=activeTab' if @activeTab == 'photos' %>>
									<a>Photos</a>
									<div class="menu-drop-down">
										<%= link_to('Engagement Photos', engagement_photos_path) %>
										<%= link_to('Other Photos', photos_path) %>
									</div>
								</li>
								<li <%='class=activeTab' if @activeTab == 'registry' %>>
									<%= link_to('Registry', registry_path) %>
								</li>
								<!--<li <%='class=activeTab' if @activeTab == 'rsvp' %>>	
									<%= link_to('RSVP', rsvp_path) %>								
								</li>-->
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>