<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Samantha Nano & Chris Mathew</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag('application', media: 'all') %>
    <%= javascript_include_tag('application') %>

    <%= yield(:head) %>
  </head>

  <body>
    <%= render 'shared/header.html' %>
    <%= yield %>
    <%= render 'shared/footer.html' %>
  </body>
</html>