<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Samantha Nano & Chris Mathew</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag('application', media: 'all') %>
    <%= javascript_include_tag('application') %>
    <%= javascript_include_tag('photos') %>
    <%= stylesheet_link_tag('photos', media: 'all') %>

    <%= yield(:head) %>
  </head>

  <body>
    <%= render 'shared/header.html' %>
    <div class="photos-grid-wrapper">
      <div class="photos-grid main-content-wrapper">
        <% photosArray=Dir.glob('app/assets/images/'+@photosFolder+'/photo*.jpg').sort.map{ |path| path.split('/').last }%>
        <% photosArray.each_index do |photoIndex| %>
          <a href="<%= image_path("#{@photosFolder}/#{photosArray[photoIndex]}")%>" data-lightbox="photos-lightbox" class="photos-grid-photo-wrapper" >
            <%= image_tag("#{@photosFolder}-thumbnail/#{photosArray[photoIndex]}", class: "photos-grid-photo") %>
          </a>
        <% end %>
      </div>
    </div>
    <%= render 'shared/footer.html' %>
  </body>
</html>